<div class="all-catogories">
    <div id="filters" class="mb-2 pt-4">
        <div class="filter">
            <a href="/listings/category?category=trending">
                <div><i class="fa-solid fa-fire"></i></div>
                <p>Trending</p>
            </a>
        </div>
        <div class="filter">
            <a href="/listings/category?category=rooms">
                <div><i class="fa-solid fa-bed"></i></div>
                <p>Rooms</p>
            </a>
        </div>
        <div class="filter">
            <a href="/listings/category?category=cities">
                <div><i class="fa-solid fa-city"></i></div>
                <p>Iconic Cities</p>
            </a>
        </div>
        <div class="filter">
            <a href="/listings/category?category=mountains">
                <div><i class="fa-solid fa-mountain"></i></div>
                <p>Mountains</p>
            </a>
        </div>
        <div class="filter">
            <a href="/listings/category?category=castles">
                <div><i class="fa-brands fa-fort-awesome"></i></div>
                <p>Castles</p>
            </a>
        </div>
        <div class="filter">
            <a href="/listings/category?category=pools">
                <div><i class="fa-solid fa-person-swimming"></i></div>
                <p>Amazing Pools</p>
            </a>
        </div>
        <div class="filter">
            <a href="/listings/category?category=campings">
                <div><i class="fa-solid fa-campground"></i></div>
                <p>Campings</p>
            </a>
        </div>
        <div class="filter">
            <a href="/listings/category?category=farms">
                <div><i class="fa-solid fa-cow"></i></div>
                <p>Farms</p>
            </a>
        </div>

        <div class="filter">
            <a href="/listings/category?category=arctic">
                <div><i class="fa-solid fa-snowflake"></i></div>
                <p>Arctic</p>
            </a>
        </div>
        <div class="filter">
            <a href="/listings/category?category=arctic">
                <div><i class="fa-solid fa-snowflake"></i></div>
                <p>Arctic</p>
            </a>
        </div>
        <div class="filter">
            <a href="/listings/category?category=arctic">
                <div><i class="fa-solid fa-snowflake"></i></div>
                <p>Arctic</p>
            </a>
        </div>
        <div class="filter">
            <a href="/listings/category?category=arctic">
                <div><i class="fa-solid fa-snowflake"></i></div>
                <p>Arctic</p>
            </a>
        </div>
        <div class="filter">
            <a href="/listings/category?category=arctic">
                <div><i class="fa-solid fa-snowflake"></i></div>
                <p>Arctic</p>
            </a>
        </div>
        <div class="filter">
            <a href="/listings/category?category=arctic">
                <div><i class="fa-solid fa-snowflake"></i></div>
                <p>Arctic</p>
            </a>
        </div>
    </div>
</div>