<% layout("/layout/basic") %>
    <br>
    <h3>Creat New Listing</h3>
    <br>
    <form method="post" action="/listings" novalidate class="needs-validation" enctype="multipart/form-data">
        <div class="row">
            <div class="col-8 offset-2">
                <div class="mb-3">
                    <label for="title" class="form-label">Title</label>
                    <input name="listing[title]" placeholder="Add Catchy Title" type="text" class="form-control"
                        required />
                    <div class="invalid-feedback">
                        Titile Should Be Valid
                    </div>
                </div>
                <div class="mb-3">
                    <label for="description" class="form-label">Description</label>
                    <textarea name="listing[description]" type="text" class="form-control" rows="05"
                        required></textarea>
                    <div class="invalid-feedback">
                        Description Should Be Valid
                    </div>
                </div>
                <div class="mb-3">
                    <label for="image" class="form-label">Image</label>
                    <input type="file" name="listing[image]" class="form-control" required>
                    <div class="invalid-feedback">
                        Upload At Least One Image
                    </div>
                </div>
                <div class="row col-10 mb-3 ">
                    <div class="col-4">
                        <label for="price" class="form-label">Price</label>
                        <input name="listing[price]" placeholder="1200" class="form-control" required />
                        <div class="invalid-feedback">
                            Price Should Be Valid
                        </div>
                    </div>
                    <div class="col-7">
                        <label for="country" class="form-label">Country</label>
                        <input name="listing[country]" placeholder="Pakistan" type="text" class="form-control"
                            required />
                        <div class="invalid-feedback">
                            Country Should Be Valid
                        </div>
                    </div>
                </div>
                <div class="mb-3">
                    <label for="location" class="form-label">Location</label>
                    <input name="listing[location]" placeholder="Johar Town,Lahore" type="text" class="form-control"
                        required />
                    <div class="invalid-feedback">
                        Location Should Be Valid
                    </div>
                </div>
                <div class="mb-3">
                    <label for="category" class="form-label">Select Category</label>
                    <select name="listing[category]" id="listing[category]" class="form-select form-select-sm"
                        aria-label="Small select example" required>
                        <option value="rooms">Rooms</option>
                        <option value="cities">Iconic Cities</option>
                        <option value="mountains">Mountains</option>
                        <option value="castles">Castles</option>
                        <option value="pools">Amazing Pools</option>
                        <option value="campings">Campings</option>
                        <option value="farms">Farms</option>
                        <option value="arctic">Arctic</option>
                    </select>
                </div>
                <br>
                <button class="btn btn-dark btn-add">Add</button>
            </div>
        </div>

    </form>